{% extends 'base_back.html.twig' %}

{% block title %}New PieceDR{% endblock %}

{% block main %}
    <h1>Create new PieceDR</h1>

    {{ include('piece_dr/_form.html.twig') }}

    <a href="{{ path('piece_d_r_index') }}">back to list</a>
{% endblock %}
